<h1>Closest Stations to You</h1>

<% @stations.each do |station| %>
      <h3><%=  station.name %></h3>
      <ul>
      <li><%=  @station_presenter.full_address(station) %></li>
      <li>Fuel Type: <%=  station.fuel_type %></li>
      <li><%=  station.distance %> miles away</li>
      <li>Open <%=  station.access_hours %></li>
    </ul></br>
<% end %>
