<h1>Closest Stations to You</h1>

<% @stations.each do |station| %>
      <%=  station.name %>
      <%=  station.address %>
      <%=  station.fuel_type %>
      <%=  station.distance %>
      <%=  station.access_hours %>
    <% end %>
<% end %>
